.car-by-pathanwheels {
    /* border: 1px solid red; */
    /* height: 90vh; */
    padding: 30px 75px 50px 75px;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.custom-h2 {
    /* border: 1px solid rgb(255, 0, 85); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    /* display: inline; */
    width: 50%;
    position: relative;
    top: 20px;
    left: 10px;
}

.custom-p {
    /* border: 1px solid rgb(255, 0, 85); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    /* display: inline; */
    width: 30%;
    position: relative;
    top: -25px;
    left: 825px;

}

.custom-slider {
    padding: 10px;
    /* border: 1px solid rgb(238, 255, 0); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    /* height: 90vh; */

}

.custom-card {
    border: 1px solid rgb(0, 204, 255);
    /* width: 75%; */
    height: 100%;
}

.custom-card-image {
    border: 1px solid rgb(255, 0, 255);
    width: 100%;
    /* height: 70%; */
    height: auto;
    /* width:fit-content; */
}

.card-body h6 {
    color: rgb(0, 0, 0);
}

.card-img-top {
    width: 100%;
    height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px)
{
    .custom-p {
        text-align: center;
        /* border: 1px solid rgb(255, 0, 85); */
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        /* display: inline; */
        width: 40%;
        position: relative;
        top: -25px;
        left: 650px;
    
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .custom-h2 {
        position: relative;
        top: 20px;
        left: 10px;
        /* border: 1px solid red; */
        font-size: 20px;
    }

    .custom-p {
        position: relative;
        top: -10px;
        left: 390px;
        /* border: 1px solid rgb(60, 255, 0); */
        width: 40%;
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {

    .custom-p {
        display: none;
        position: relative;
        top: -10px;
        left: 190px;
        /* border: 1px solid rgb(60, 255, 0); */
        width: 40%;
        font-size: 10px;
    }

    .carousel-inner .col-md-3 {
        flex: 0 0 50%;
        /* Set each card to take 50% of the row */
        max-width: 50%;
    }

}
@media (min-width: 0 ) and (max-width: 576px) 
{
    .custom-p {
        /* display: none; */
        position: relative;
        top: 550px;
        left: 120px;
        /* border: 1px solid rgb(60, 255, 0); */
        width: 100%;
        font-size: 10px;
        margin: auto;
    }
    .carousel-inner .col-12 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
