.coversec {
    border: 1px solid rgb(39, 37, 24);
    height: 100vh;
    display: flex;
    background: url(../Images/cover\ image.jpg) no-repeat center center/cover;
    /* background-color: rgba(114, 94, 94, 0.3); */
    /* opacity: 0.7; */
}

.coversec form {
    /* border: 1px solid rebeccapurple; */
    background-color: rgba(121, 118, 118, 0.8);
    /* background: transparent; */
    margin: 350px auto;
    width: 80vw;
    height: 30vh;
    display: flex;
}

.coversec div {
    /* border: 1px solid rebeccapurple; */
    /* font-size: 20px; */
    /* width: 250px; */
    margin: auto;
    /* text-align: center; */
}

.coversec div label {
    /* border: 1px solid rebeccapurple; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin:15px;
}

.coversec div input,
select {
    /* border: 1px solid rgb(51, 138, 153); */
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;

}

.Search-button{
    height: 40px;
    width: 120px;
    /* margin: 100px auto; */
    margin-top: 59px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.Search-button:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}