.sellbuy {
    /* border: 1px solid red; */
    height: 60vh;

}

.custom-container {
    padding: 50px;
    /* border: 1px solid rgb(30, 255, 0); */
    margin: auto;
}

.custom-container h3 {
    /* border: 1px solid rgb(30, 255, 0); */
    margin: auto 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

.row {
    /* border: 1px solid rgb(255, 0, 200); */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}

.card-body {
    /* padding: 50px; */
    /* margin: 10px; */
}

.col-sm-6 {
    /* width: 75%; */
    /* margin: 10px;
    width: 50%; */
}

.card-text {
    /* border: 1px solid red; */
}

.card h5 {
    /* border: 1px solid red; */
    font-size: 95%;
    font-weight: bold;
    text-decoration: double;
    margin-bottom: 20px;
}

.card p {
    font-size: 90%;
    margin: 0;
    /* border: 1px solid red; */
}

.btn {
    margin-top: 20px;
}
@media (min-width: 992px) and (max-width: 1200px)
{
    .sellbuy {
        height: 80vh;

    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .sellbuy {
        height: 80vh;
    }

    .custom-container h3 {
        width: 100%;
        font-size: 90%;
        margin: -40px 0px -20px 0px;
    }

    .row {
        display: flex;
        /* flex-direction: column; */
        /* padding-left: 150px; */
    }

    .card {
        /* width: 110%; */
        margin-top: 20px;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .sellbuy {
        height: 80vh;

    }

    .custom-container h3 {
        width: 100%;
        font-size: 80%;
        margin: -40px 0px -20px 0px;
    }

    .card {
        margin-top: 20px;
    }
}
@media (min-width: 0 ) and (max-width: 576px) 
{    .sellbuy {
        height: 80vh;

    }

    .custom-container h3 {
        width: 100%;
        font-size: 85%;
        margin: -40px 0px -20px 0px;
    }

    .card {
        margin-top: 20px;
    }
}